.component {
    width: 100%;
    min-height: 90vh;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;

    .errorMesage {
        position: absolute;
        color: wheat;
        font-size: 18px;
        margin-top: 70px;
        transform: translateY(100%);
        width: 400px;
        text-align: center;
    }
}