.component {
    width: 100%;
    min-height: 90vh;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;

    .errorMesage {
        position: absolute;
        color: wheat;
        font-size: 18px;
        margin-top: 100px;
    }
}