.component {
    padding: 2em 0px;
    display: flex;
    
    .brandDropDown {
        background-color: white;
        width: 50px;
        border: 1px solid black;
    }
    // .searchButton {
    //     font-size: 16px;
    //     cursor: pointer;
    //     border: none;
    //     padding: 0px 4px;
    //     background-color: rgb(174, 147, 67);
    //     color: white;
    //     border-top-right-radius: 8px;
    //     border-bottom-right-radius: 8px;
    // }


    // .nameInput {
    //     outline: none;
    //     border: none;
    //     border-radius: 0px;
    // }
}