.component {
    margin: 2em 0px 4em 0px;
    display: flex;
    padding: 0px 0px 0px 16px;
    background-color: rgb(48, 48, 48);
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;

    .searchButton {
        font-size: 16px;
        cursor: pointer;
        border: none;
        padding: 2px 6px;
        background-color: rgb(48, 48, 48);
        color: rgb(138, 138, 138);
    }

    input {
        font-size: 16px;
        outline: none;
        border: none;
        padding: 0px 4px;
        border-radius: 0px;
        background-color: rgb(51, 51, 51);
        color: rgb(138, 138, 138);
        border-right: 2px solid rgb(69, 69, 69);
    }
}