.component {
    width: 90px;
    position: relative;
    background-color: white;

    .activeBrand {
        height: 100%;
        align-items: center;
        padding: 0px 2px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        background-color: rgb(48, 48, 48);
    }

    .brandList {
        width: 100%;
        top: calc(100% + 1px);
        position: absolute;
        background-color: rgb(76, 76, 76);
        list-style: none;
        z-index: 2;
        overflow-y: scroll;
        overflow-x: hidden;
        transition: 0.8s ease max-height;

        &::-webkit-scrollbar {
            width: 2px;
            background-color: transparent;

            &-thumb {
                background-color: rgb(205, 205, 205);
            }
        }

        li {
            border-bottom: 1px solid rgb(0, 0, 0);
        }
    }

    button {
        color: rgb(138, 138, 138);
        width: 100%;
        display: block;
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 16px;
        padding: 0px 4px;
        cursor: pointer;
    }

    .addBrandList {
        align-items: center;
        min-height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .brandElement {}
}