.component {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, calc(25% - 20px));
    justify-content: space-evenly;
    row-gap: 20px;
    column-gap: 30px;
    position: relative;
}