@import url("./variables.scss");

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    padding: 0px 5em;
    background: rgb(10, 10, 10);
}

html::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;

    &-thumb {
        background-color: rgb(196, 168, 9);
    }
}
